.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    z-index: 10;
    background: #CAF944;
}

.header__menuBtn {
    position: relative;
    z-index: 20;
    background: none;
    border: none;
}