.h2 {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    padding-top: 2%;
}



.h1 {
   font-family:'Playfair Display', serif;
   font-size: 60px; 
   font-weight: bold;
   text-align: right;
   padding-right: 5%;
   text-transform: uppercase;
   
}

.h1-1{
    font-family:'Playfair Display', serif;
    font-size: 60px; 
    font-weight: bold;
    text-align: right;
}


.texte {
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
}

.base__line {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    padding-top: 15%;
    text-transform: uppercase;
}

.base__line-blanc {
    color: #FFFFFF;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    text-decoration: none;
    padding-left: 10%;
}

.btn__texte-blanc{
    font-family:'Oswald', sans-serif ;
    color: rgb(248, 246, 246);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 5%;
}

.tableau__titre {
    font-family:'Playfair Display', serif ;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    color: black;
    text-decoration: none;
}

.texte_f {
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
}