.tarif {
    background: #6DD15C;
    line-height: 10%;
    padding: 3%;
    margin-right: 60px;
    margin-left: 60px;
    margin-top: 20%;
    border-radius: 70px;
}

.tarif2 {
    background: #6DD15C;
    line-height: ;
    padding: 3%;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 20%;
    border-radius: 70px;
}

